<h1>Enter email & password fewl...</h1>
<%= form_for(@user, url: sessions_path) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.submit("Log In") %>
<% end %>

<p>Try <%= link_to('Signing in with the GitHub strategy', '/auth/github')%>.</p>