<div class="user_commented_post">
  <div class="user_comment_float">
    <h4>Commented:</h4>
    <p><%= @user.commented_posts.find_by(id: post.id).content %></p>
  </div>
  <div class="content_area">

    <div class="user_commented_post_user">
      <%= link_to(post.user.name, user_path(post.user)) %>
    </div>

    <div class="user_commented_post_content">
      <p><%= post.content %></p>
    </div>
    <% if post.image %>
      <div class="user_commented_post_image"><%= image_tag(post.image.attachment) %></div>
    <% end %>
    <%= link_to("", user_post_path(post.user, post), class: "index_post_link") %>
  </div>
</div>