<div class="show_post">
  <div class="content_area">
    <%# put all content under this %>

    <div class="show_post_user">
      <%= link_to(@post.user.name, user_path(@post.user)) %>
    </div>

    <div class="show_post_content">
      <p><%= @post.content %></p>
    </div>

  </div>

  <div class="show_post_interactions">

    <div class="show_post_reactions">
    <%= render(partial: "reactions/all_reaction_buttons", locals: {parent: @post}) %>
    </div>

    <div class="show_post_comments clearfix">
      <div id="comments_title">Comments</div>
        <%= render(partial: "comments/post_comment", collection: @post.comments, as: "comment") %>
    </div>

  </div>

  <% if @post.image %>
    <div class="show_post_image"><%= image_tag(@post.image.attachment) %></div>
  <% end %>

</div>